fastapi>=0.111.0
uvicorn[standard]>=0.28.0
websockets>=12.0
wsproto>=1.2.0
sqlalchemy>=2.0.36
psycopg2-binary>=2.9.9
boto3>=1.34.64
pydantic>=2.9.0
python-dotenv>=1.0.1
neo4j==5.28.1
openai>=1.0.0
apscheduler>=3.10.0
requests>=2.31.0
pyte>=0.8.2
pexpect>=4.9.0

# AI / RAG

qdrant-client>=1.9.0
numpy>=1.26.0
beautifulsoup4>=4.12.3
lxml>=5.2.2
tqdm>=4.66.0
pymupdf>=1.24.0
psutil
azure-identity
azure-mgmt-compute
azure-mgmt-storage
azure-mgmt-network
azure-mgmt-resource
azure-mgmt-sql
azure-monitor-query
google-cloud-compute
google-cloud-storage
google-cloud-monitoring
google-cloud-container
google-cloud-logging
google-cloud-resource-manager
google-cloud-iam
google-api-python-client
kubernetes
networkx

celery>=5.3.6
